@import "../../App.scss";
@media (min-width: 930px) and (max-width: 4000px) {
  .cardCharacter {
    display: flex;
    width: 300px;
    height: 181px;
    flex-flow: row;
    align-items: center;
    border-radius: 5px;
    margin: 6px;
  }

  .leftSpan{
    margin-right: 5px;
    font-weight: bold;
  }


  .unselected > svg > path{
    stroke: #999999;;
  }

  .selected > svg > path{
    stroke: black;
    fill: black;
  }

  .topSectionCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottomCard {
    display: block;
  }

  .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    border-radius: 60px;
    background-clip: padding-box;
    background-size: cover;
  }
  figure {
    margin: 0px;
  }

  .gryffindorGrandient {
    background: $GryffindorGrandient;
  }
  .slytherinGrandient {
    background: $SlytherinGrandient;
  }
  .ravenclawGrandient {
    background: $RavenclawGrandient;
  }
  .hufflepuffGrandient {
    background: $HufflepuffGrandient;
  }
  .whiteBackgroundColor{
    background: white;
  }

  .photoContainer {
    width: 37%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .infoCharacter {
    height: 100%;
    width: 234px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  h2 {
    margin: 0px;
  }

  .name {
    font-family: sans-serif;
    font-size: bold 18px;
  }

  .status {
    font-family: sans-serif;
    font-size: 11px;
    color: #999999;
  }

  .buttonFav {
    border: none;
    cursor: pointer;
    background: none;
  }
}

//comienza Media Queries
@media (max-width: 930px) {
  .cardCharacter {
    display: flex;
    width: 140px;
    height: 181px;
    flex-flow: column;
    align-items: center;
    border-radius: 5px;
    margin: 6px;
  }


  
  .unselected > svg > path{
    stroke: #999999;;
  }

  .selected > svg > path{
    stroke: black;
    fill: black;
  }

  .topSectionCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottomCard {
    display: none;
  }

  .image {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    border-radius: 60px;
    background-clip: padding-box;
    background-size: cover;
  }
  figure {
    margin: 0px;
  }

  .gryffindorGrandient {
    background: $GryffindorGrandient;
  }
  .slytherinGrandient {
    background: $SlytherinGrandient;
  }
  .ravenclawGrandient {
    background: $RavenclawGrandient;
  }
  .hufflepuffGrandient {
    background: $HufflepuffGrandient;
  }
  .whiteBackgroundColor{
    background: rgb(255, 255, 255);
  }

  .photoContainer {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .infoCharacter {
    height: 94px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  h2 {
    margin: 0px;
  }

  .name {
    font-family: sans-serif;
    font-size: bold 18px;
  }

  .status {
    font-family: sans-serif;
    font-size: 11px;
    color: #999999;
  }

  .buttonFav {
    border: none;
    cursor: pointer;
    background: none;
  }
}