@import "../../App.scss";
@media (min-width: 930px) and (max-width: 4000px) {

  // .hogwarts {
  //   background-image: url("../../img/imgHogwarts.png");
  //   width: 50%;
  //   height: 50%;
  //   width: 100%;
  //   height: 560px;
  //   -webkit-background-clip: padding-box;
  //   background-size: cover;
  // }
  .containerHeader {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    margin-top: 147px;
  }

  .titleSelection {
    font-family: sans-serif;
    font-size: bold 18px;
    color: #ffff;
    margin-top: 30px;
  }

  .filterArea{
    margin-top: 60px;
  }

  .filtersButtons {
    width: 370px;
    height: 71px;
    border: solid 4px;
    border-color: #6b63b5;
    background-color: #0000;
    font-family: "Open Sans";
    font-size: 13px;
    color: #ffff;
    font-weight: 600;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .filtersButtons:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }
}




//comienza Media Queries
@media (max-width: 930px) {
  // .hogwarts {
  //   background-image: url("../../img/imgHogwarts.png");
  // }
  .containerHeader {
    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
    background-color: rgb(0, 0, 0);
  }

  .titleSelection {
    font-family: sans-serif;
    font-size: bold 18px;
    color: #ffff;
  }

  .filtersButtons {
    width: 140px;
    height: 42.93px;
    border: solid 4px;
    border-color: #6b63b5;
    background-color: #0000;
    font-family: "Open Sans";
    font-size: 13px;
    color: #ffff;
    font-weight: 600;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .filtersButtons:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }
}
