@import "../../App.scss";
@media (min-width: 930px) and (max-width: 4000px) {
  .containerFooter {
    display: flex;
    position: fixed;
    top: 0px;
    right: 5%;
  }

  .buttonAddFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b63b5;
    border-color: #6b63b5;
    border-radius: 0px 4px 0px 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: #ffff;
    width: 143px;
    height: 36px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonAddFooter:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  .buttonFavoritesFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b63b5;
    border-color: #6b63b5;
    border-radius: 4px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: #ffff;
    width: 143px;
    height: 36px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonFavoritesFooter:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  .favContainer{
    display: flex;
    align-items: center;
  }

  .image {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    border-radius: 60px;
    background-clip: padding-box;
    background-size: cover;
  }
  figure {
    margin: 0px;
  }

  .nav {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav li {
      display: block;
      position: relative;
      float: left;
      background: #6b63b5;
      margin-right: 2px;
  }

  .nav li button {
      display: block;
      padding: 0;
      text-decoration: none;
      width: 200px;
      line-height: 35px;
      /* this is the hieght of the menu items */
      color: #ffffff;
      border:none;
      /* list item font color */
  }
  .nav li ul li div button{
    display: block;
    padding: 0;
    width: 126px;
    line-height: 35px;
    /* this is the hieght of the menu items */
    color: #ffffff;
    background-color: #6b63b5;
    margin-top: 2px;
    
    /* list item font color */
  }



  /* highlights current hovered list item and the parent list items when hovering over sub menues */

  .nav ul {
      position: absolute;
      padding: 0;
      left: 0;
  }

  .deleteIcon{
    cursor: pointer;
  }
 
}


//comienza Media Queries
@media (max-width: 930px) {
  .containerFooter {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: black;
  }

  .buttonAddFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b63b5;
    border-color: #6b63b5;
    border-radius: 0px 4px 0px 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: #ffff;
    width: 143px;
    height: 36px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonAddFooter:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  .buttonFavoritesFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6b63b5;
    border-color: #6b63b5;
    border-radius: 4px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 14px;
    color: #ffff;
    width: 143px;
    height: 36px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonFavoritesFooter:hover {
    background-color: rgba(107, 99, 181, 0.6);
  }

  
  .favContainer{
    display: flex;
    align-items: center;
  }

  .image {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    border-radius: 60px;
    background-clip: padding-box;
    background-size: cover;
  }
  figure {
    margin: 0px;
  }
  
  .nav {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .nav li {
      display: block;
      position: relative;
      float: left;
      background: #6b63b5;
      margin-right: 2px;
  }

  .nav li button {
      display: block;
      padding: 0;
      text-decoration: none;
      width: 165px;
      line-height: 35px;
      /* this is the hieght of the menu items */
      color: #ffffff;
      border:none;
      /* list item font color */
  }
  .nav li ul li div button{
    display: block;
    padding: 0;
    width: 106px;
    line-height: 35px;
    /* this is the hieght of the menu items */
    color: #ffffff;
    background-color: #6b63b5;
    margin-top: 2px;
    
    /* list item font color */
  }



  /* highlights current hovered list item and the parent list items when hovering over sub menues */

  .nav ul {
      position: absolute;
      padding: 0;
      left: 0;
  }

  .deleteIcon{
    cursor: pointer;
  }

}
