$background:red;

$GryffindorGrandient: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(254, 212, 130, 1));
$SlytherinGrandient: linear-gradient(to right, rgba(28, 121, 43, 1), rgba(130, 233, 94, 1));
$RavenclawGrandient: linear-gradient(to right, rgba(5, 151, 183, 1), rgba(102, 209, 255, 1));
$HufflepuffGrandient: linear-gradient(to right, rgba(255, 199, 0, 1), rgba(255, 243, 136, 1));



